<h1>Passenger Information</h1>

<p>
  Flight:
  <%= @flight.departure_airport.code %> →
  <%= @flight.arrival_airport.code %><br>
  <%= @flight.start_datetime.in_time_zone("Asia/Kolkata").strftime("%F %R") %>
</p>

<%= form_with model: @booking do |f| %>
  <%= f.hidden_field :flight_id %>

  <%= f.fields_for :passengers do |pf| %>
    <% index = pf.index || 0 %> 
    <div class="passenger-field">
      <h3>Passenger <%= index + 1 %></h3>
      <%= pf.label :name %>
      <%= pf.text_field :name %>
      <%= pf.label :email %>
      <%= pf.text_field :email %>
    </div>
  <% end %>

  <%= f.submit "Book Flight" %>
<% end %>
