<h1>Passenger Information</h1>

<p>
  Flight:
  <%= @flight.departure_airport.code %> →
  <%= @flight.arrival_airport.code %><br>
  <%= @flight.start_datetime %>
</p>

<%= form_with model: @booking do |f| %>
  <%= f.hidden_field :flight_id %>

  <%= f.fields_for :passengers do |pf| %>
    <div>
      <%= pf.label :name %>
      <%= pf.text_field :name %>
    </div>

    <div>
      <%= pf.label :email %>
      <%= pf.text_field :email %>
    </div>
  <% end %>

  <%= f.submit "Book Flight" %>
<% end %>
