<h1>Booking Details</h1>

<p>
  Flight:
  <%= @booking.flight.departure_airport.code %> →
  <%= @booking.flight.arrival_airport.code %><br>
  <%= @booking.flight.start_datetime.in_time_zone("Asia/Kolkata").strftime("%F %R") %>
</p>

<h2>Passengers</h2>

<% @booking.passengers.each_with_index do |p, index| %>
  <p>
    Passenger <%= index + 1 %>: <%= p.name %> - <%= p.email %>
  </p>
<% end %>

<%= link_to "Home", root_path %>
